@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #969133;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: rgb(171, 165, 115);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin-left: 20em;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: #fff;
}

input i {
  position: absolute;
  transform: translateY(100%) translateX(-200%);
}

.wrapper .btn {
  width: 100%;
  height: 4rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: transform 0.3s;
  margin-bottom: 1rem;
}

.wrapper .btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.wrapper .register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.incorrect {
  font-size: 15px;
  text-align: center;
  color: #a91b0d;
  font-weight: bold;
}

footer {
  margin-top: 17em;
  margin-right: 2em;
}
